<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<!-- 错误  页面映射  S -->
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/error/error_500.html</location>
	</error-page>
	
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/error/error_404.html</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/WEB-INF/error/error_404.jsp</location>
	</error-page>
	<!-- 错误  页面映射  E -->
	
	<!-- 配置session的失效时间  S -->
	<session-config>
		<!-- 30分钟 -->
		<session-timeout>30</session-timeout>
	</session-config>
	
	
	<filter>
		<filter-name>encode</filter-name>
		<filter-class>top.gn.filter.EncodeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>encode</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>verify</filter-name>
		<filter-class>top.gn.filter.VertiyLogin</filter-class>
		
		<init-param>
			<param-name>keyworkd</param-name>
			<param-value>
				/manager-article/show-form,/author/author-data
				,/manager-article/article-tab,/manager-article/type-tab
				,/manager-article/draft
			</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>verify</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>springDispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springConfig.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>springDispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	

</web-app>